.summary-body{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #e4e7e9;
    height: 100vw;
    width: 100vw;
}
.div-products{
    border: 1px solid black;
    box-shadow: 0px 0px 10px 5px #08364e;
    width: 900px;
}
.card-product-summary{
    display: flex;
    flex-direction: row;
    width: 800px;
    height: 300px;  
    margin: 5px;
    align-items: center;
}
.card-figure{
    display: flex;
    flex-direction: column;
    height: 70%;
    width: 25%;
    align-items: center;
    justify-content: center;
    color: rgb(131, 130, 130);
}
.card-figure img{
    height: 100%;
}
.card-product-info{
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 100%;
}
.card-product-info p{
    margin: 5px;
    
}
.card-name-summary{
    font-weight: bold;
}
.address-info-summary{
    margin-top: 20px;
    width: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    box-shadow: 0px 0px 10px 5px #08364e;
}
.address-info-summary p{
    font-size: 18px;
}
