.header{
    width: 100vw;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #08364e;
}
.header-div{
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    width: 390px;
    height: 140px;
}
.header-logo-home{
    height: 130px;
    cursor: pointer;
}
.header-div a {
    text-decoration: none;
    color: black;
}
.cartIcon{
    cursor: pointer;
}

