*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}

.App{
  display: grid;
  grid-template-columns: 20% 30% 30% 20%;
  text-align: center;
}
.Div-Header img{
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
.Div-Header button{
  background: none;
  border: none;
}
.Div-Header{
  grid-column: 1;
  grid-column-end: 5;
  grid-row: 1;
  border-bottom: 2px solid black;
  background-color: #3a48ad;
  display: flex;
  justify-content: space-between;
  height: 80px;
}
.Div-Menu{
  grid-row: 2;
  grid-column: 1;
  border-right: 2px solid black;
  display: flex;
  flex-direction: column;
}
.Div-Menu button {
  padding: 20px;
  background-color: rgb(237, 240, 42);
  border-radius: 20px;
  width: 90%;
  margin-top: 30px;
}
.Div-Main{
  grid-row: 2;
  grid-column: 2;
  grid-column-end: 5;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

}
.Div-Address{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.Div-Address input{
  border: 1px solid black;
  border-radius: 10px;
  text-align: center;
  margin: 10px;
  padding: 5px;
}

.Div-Cart{
  grid-row: 2;
  grid-column: 1;
  grid-column-end: 5;
  background-color: #ccc;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  align-items: center;
  justify-content: center;
}
.Div-Address{
  grid-row: 2;
  grid-column: 1;
  grid-column-end: 5;
  background-color: #ccc;
}
.Purchased-Product-Card{
  border: 2px solid black;
}
/* #txtCep{
  width: 100px;
}
#txtRua{
  width: 200px;
}
#txtNum{
  width: 50px;
}
#txtComp{
  width: 250px;
}
#txtCep{
  width: 100px;
}
#txtCep{
  width: 100px;
} */
#txtQuantity{
  width: 20px;
}

table {
  border-collapse: separate;
  background:#fff;
  border-radius:5px;
  margin:50px auto;
  box-shadow: 0px 0px 5px rgba(0,0,0,0.3);
}
thead {
  border-radius:5px;
}
thead th {
  font-family: 'Patua One', cursive;
  font-size:16px;
  font-weight:400;
  color:#fff;
  text-shadow:1px 1px 0px rgba(0,0,0,0.5);
  text-align:left;
  padding:20px;
  background-image:linear-gradient(#646f7f, #4a5564);
  border-top:1px solid #858d99;
}
tbody tr td {
  font-family: 'Open Sans', sans-serif;
  font-weight:400;
  color:#5f6062;
  font-size:13px;
  padding:20px 20px 20px 20px;
  border-bottom:1px solid #e0e0e0;
  
}
tbody tr:nth-child(2n) {
  background:#f0f3f5;
}
tbody tr:last-child td {
  border-bottom:none;
}
tbody:hover > tr td {
  opacity:0.5;
  color:transparent;
  text-shadow:0px 0px 2px rgba(0,0,0,0.8);
}
tbody:hover > tr:hover td {
  text-shadow:none;
  color:#2d2d2d;
  opacity:1.0;
}
tfoot {
    text-align: right;
    font-size:20px;
}
table img{
  width: 100px;
  height: 100px;
}

.button {
  align-items: center;
  appearance: none;
  background-image: radial-gradient(100% 100% at 100% 0, #5adaff 0, #5468ff 100%);
  border: 0;
  border-radius: 6px;
  box-shadow: rgba(45, 35, 66, .4) 0 2px 4px,rgba(45, 35, 66, .3) 0 7px 13px -3px,rgba(58, 65, 111, .5) 0 -3px 0 inset;
  box-sizing: border-box;
  color: #fff;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono",monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s,transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow,transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #3c4fe0 0 0 0 1.5px inset, rgba(45, 35, 66, .4) 0 2px 4px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, .4) 0 4px 8px, rgba(45, 35, 66, .3) 0 7px 13px -3px, #3c4fe0 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #3c4fe0 0 3px 7px inset;
  transform: translateY(2px);
}