.Div-Header img{
  width: 50px;
  height: 50px;
  border-radius: 20px;
}
.Div-Header{
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background-color: gray;
}
.Div-Menu{
  display: flex;
  flex-direction: column;
  left: 0px;
  width: 300px;
  height: 400px;
  background-color: gray;
}
.Div-Menu button {
  padding: 20px;
  background-color: lightgray;
  border-radius: 15px;
}


.App {
  text-align: center;
}

